.maincontainer{
    background:linear-gradient(lightgray,white)  ;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:center ;
    align-content: center;
    justify-items: center;
    height: 100hvd;
}